* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'JetBrains Mono', monospace;
  background-color: #eeffff;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 3rem;
}

header {
  background-color: #9ed887;
  padding: 1rem;
  border-bottom: 8px dashed #4e7a1b;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 1rem;
}

#slack button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  background-color: #4e7a1b;
  color: white;
  padding: 0.8rem 1.8rem;
  border: 2px solid #154e06;
  margin: 1rem;
}

#slack button:hover {
  background-color: #6c9e33;
}

#how ol {
  margin: 1rem;
  padding: 1rem;
  line-height: 2;
}